<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BBLJ食記</title>
        <meta name="description" content="BBLJ食記">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{template "partials/favicon" .}}
        <link href="/libs/fontawesome/css/all.min.css" rel="stylesheet">
        <link href="/libs/tabulator-tables/tabulator.min.css" rel="stylesheet">
        <script src="/libs/tabulator-tables/tabulator.min.js"></script>
        <script src="/libs/tabulator-tables/luxon.min.js"></script>
        <link href="/css/layout.css?v=_20231210" rel="stylesheet">
    </head>
    <body>
        {{template "partials/navbar" .}}
        <div class="site-content">
            <div class="welcome-header">
                <div class="h-center">
                    <img style="width: 105px;" src="/assets/search_250x250.png"/>
                </div>            
                <h1 class="page-title">食記清單</h1>
            </div>
            <div class="index-section">
                <h2 class="section-title">篩選器</h2>
                <form id="frmQuery" class="section-body" style="margin-left: 30px;margin-right: 30px;" method="post" enctype="multipart/form-data">
                    
                    <div>
                        <label class="lbl-control" for="rbIsKeyword1"><input type="radio" name="IsKeyword" id="rbIsKeyword1" value="1" checked onchange="searchModeChange(this)"/>關鍵字查詢</label>
                    </div>

                    <label class="lbl-control" for="txtKeyword">關鍵字：</label>                    
                    <input class="txt-control is-keyword" style="width: 20em;" id="txtKeyword" name="Keyword"/>

                    <div class="h-center">
                        <br/>
                        <button type="button" class="btn-primary is-keyword" style="margin-right: 10px;" onclick="apply()">套用</button>
                        <button type="button" class="btn-primary is-keyword" style="margin-left: 10px;" onclick="resetForm(this)">清除</button>
                    </div>

                    <div>
                        <label class="lbl-control" for="rbIsKeyword0"><input type="radio" name="IsKeyword" id="rbIsKeyword0" value="0" onchange="searchModeChange(this)"/>欄位查詢</label>
                    </div>

                    <label class="lbl-control" for="txtCuisineName">餐點名稱(含)：</label>                    
                    <input class="txt-control is-not-keyword" style="width: 20em;" id="txtCuisineName" name="CuisineName" disabled/>

                    <label class="lbl-control">單價排序：</label>                    
                    <div>
                        <label for="rbUnitPriceOrder0"><input class="is-not-keyword" type="radio" name="UnitPriceOrder" id="rbUnitPriceOrder0" value="0" checked disabled/>無</label>
                        <label for="rbUnitPriceOrder1"><input class="is-not-keyword" type="radio" name="UnitPriceOrder" id="rbUnitPriceOrder1" value="1" disabled/>升冪</label>
                        <label for="rbUnitPriceOrder2"><input class="is-not-keyword" type="radio" name="UnitPriceOrder" id="rbUnitPriceOrder2" value="2" disabled/>降冪</label>
                    </div> 

                    <label class="lbl-control" for="selCuisineType">類別：</label>
                    <select class="txt-control is-not-keyword" style="width: 10em;"  id="selCuisineType" name="CuisineType" disabled>
                        <option value="1" selected>主餐</option>
                        <option value="2">配餐/甜點/飲料</option>
                        <option value="3">無菜單</option>
                    </select> 

                    <label class="lbl-control" for="txtLastOrderDate">日期：</label>                    
                    <input type="date" class="txt-control is-not-keyword" style="width: 20em;" id="txtLastOrderDate" name="LastOrderDate" disabled/>

                    <label class="lbl-control" for="txtLastOrderDateTo">日期(到)：</label>                    
                    <input type="date" class="txt-control is-not-keyword" style="width: 20em;" id="txtLastOrderDateTo" name="LastOrderDateTo" disabled/>

                    <label class="lbl-control" for="txtKeyword">評分排序：</label>                    
                    <div>
                        <label for="rbReviewOrder0"><input class="is-not-keyword" type="radio" name="ReviewOrder" id="rbReviewOrder0" value="0" checked disabled/>無</label>
                        <label for="rbReviewOrder1"><input class="is-not-keyword" type="radio" name="ReviewOrder" id="rbReviewOrder1" value="1" disabled/>升冪</label>
                        <label for="rbReviewOrder2"><input class="is-not-keyword" type="radio" name="ReviewOrder" id="rbReviewOrder2" value="2" disabled/>降冪</label>
                    </div>

                    <label class="lbl-control" for="txtRestaurant">餐聽(含)：</label>                    
                    <input class="txt-control is-not-keyword" style="width: 20em;" id="txtRestaurant" name="Restaurant" disabled/>

                    <label class="lbl-control" for="txtAddress">地點(含)：</label>                    
                    <input class="txt-control is-not-keyword" style="width: 20em;" id="txtAddress" name="Address" disabled/>

                    <label class="lbl-control" for="txtRemark">備註(含)：</label>                    
                    <input class="txt-control is-not-keyword" style="width: 20em;" id="txtRemark" name="Remark" disabled/>

                    <div class="h-center">
                        <br/>
                        <button type="button" class="btn-primary is-not-keyword" style="margin-right: 10px;" onclick="apply()" disabled>套用</button>
                        <button type="button" class="btn-primary is-not-keyword" style="margin-left: 10px;" onclick="resetForm(this)" disabled>清除</button>
                    </div>        
                </form>
            </div>
            <div class="index-section">
                <h2 class="section-title">食記清單</h2>
            </div>
            <div style="text-align: center; margin: 0px 20px;">
                <div id="tbAllCuisine">
                    <textarea class="viewbag" id="allCuisine">
                        {{.AllCuisine}}
                    </textarea>
                </div>
            </div>
            <form method="get" action="/" class="h-center">
                <br/>
                <button class="btn-primary">回首頁</button>
            </form>
        </div>
        <br/>
        {{template "partials/footer" .}}
        <script>
            let allCuisine = [];
            let tbAllCuisine = null;

            window.addEventListener("DOMContentLoaded", function(){
                /** @type {HTMLTextAreaElement} */
                let allCuisineViewbag = document.querySelector(".viewbag#allCuisine");
                allCuisine = JSON.parse(allCuisineViewbag.value);
                allCuisineViewbag.remove();                

                tbAllCuisine = new Tabulator("#tbAllCuisine", {
                    layout:"fitDataTable",
                    height: "480px",
                    columns: [
                        { title: "餐點名稱", field: "cuisine_name" },
                        { title: "單價", field: "unit_price"},
                        { title: "類別", field: "cuisine_type_name"},
                        { title: "套餐", field: "is_one_set"},
                        { 
                            title: "日期", 
                            field: "last_order_date", 
                            formatter: "datetime", 
                            formatterParams: {
                                inputFormat:"iso",
                                outputFormat:"yyyy-MM-dd",
                                invalidPlaceholder:"",
                            },
                        },
                        { title: "評分", field: "review" },
                        { title: "餐廳", field: "restaurant" },
                        { title: "地點", field: "address" },
                        { title: "備註", field: "remark" },
                    ],
                });

                tbAllCuisine.on("tableBuilt", function(){
                    tbAllCuisine.setData(allCuisine);
                });

                tbAllCuisine.on("rowClick", function(e, row){
                    let rowData = row.getData();
                    window.location.href = `/editCuisine?id=${rowData["cuisine_id"]}`;
                });
            });
            
            /** @param {HTMLInputElement} rbIsKeyword */
            function searchModeChange(rbIsKeyword) {
                if(rbIsKeyword.value == "1"){
                    document.querySelectorAll(".is-keyword").forEach(/** @param {HTMLInputElement} inp */function(inp){
                        inp.disabled = false;
                    });
                    document.querySelectorAll(".is-not-keyword").forEach(/** @param {HTMLInputElement} inp */function(inp){
                        inp.disabled = true;
                    });
                } else {
                    document.querySelectorAll(".is-keyword").forEach(/** @param {HTMLInputElement} inp */function(inp){
                        inp.disabled = true;
                    });
                    document.querySelectorAll(".is-not-keyword").forEach(/** @param {HTMLInputElement} inp */function(inp){
                        inp.disabled = false;
                    });
                }
            }

            async function apply() {
                tbAllCuisine.clearData();
                /** @type {HTMLFormElement} */
                let frmQuery = document.querySelector("#frmQuery");
                let formData = new FormData(frmQuery);
                let cuisines = await fetch("/query", {
                    method: "post",
                    body: formData,
                }).then(async function(resp){
                    if (resp.ok) {
                        return await resp.json();
                    }
                }).catch(function(err){
                    console.log(err);
                    return null;
                });
                if(cuisines){
                    tbAllCuisine.setData(cuisines);
                    tbAllCuisine.redraw();
                }
            }

            /** @param {HTMLButtonElement} btn */
            function resetForm(btn) {
                document.getElementById("frmQuery").reset();
                /** @type {HTMLInputElement} */
                let rbIsKeyword1 = document.getElementById("rbIsKeyword1");
                /** @type {HTMLInputElement} */
                let rbIsKeyword0 = document.getElementById("rbIsKeyword0");
                if (btn.classList.contains("is-keyword")) {
                    rbIsKeyword0.checked = false;
                    rbIsKeyword1.checked = true;
                } else if(btn.classList.contains("is-not-keyword")) {
                    rbIsKeyword0.checked = true;
                    rbIsKeyword1.checked = false;
                }
            }
        </script>
    </body>
</html>