<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BBLJ食記</title>
        <meta name="description" content="BBLJ食記">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/libs/fontawesome/css/all.min.css" rel="stylesheet">
        <link href="/libs/tabulator-tables/tabulator.min.css" rel="stylesheet">
        <script src="/libs/tabulator-tables/tabulator.min.js"></script>
        <script src="/libs/tabulator-tables/luxon.min.js"></script>
        <link href="/css/layout.css" rel="stylesheet">
    </head>
    <body>
        {{template "partials/navbar" .}}
        <div class="site-content">
            <div class="welcome-header">
                <div class="h-center">
                    <img src="/assets/welcome-logo_105x105.png"/>
                </div>            
                <h1 class="page-title">BBLJ食記</h1>
                <div class="welcome-msg">
                    歡迎來到BBLJ食記！本站記錄了BBLJ團隊平日外食的地點、餐點價格以及評價，供有興趣的朋友們參考。
                </div>
            </div>
            <div class="index-section">
                <h2 class="section-title">最高評價排行榜</h2>
            </div>
            <div class="radio-cuisine-type-wrapper">
                <label class="lbl-cuisine-type-name" for="rbCuisineMain"><input type="radio" name="cuisine_type_name" id="rbCuisineMain" onchange="rbCuisineChanged(this)" checked/>主餐</label>
                <label class="lbl-cuisine-type-name" for="rbCuisineDessert"><input type="radio" name="cuisine_type_name" id="rbCuisineDessert" onchange="rbCuisineChanged(this)"/>配餐/飲料/甜點</label>
                <label class="lbl-cuisine-type-name" for="rbCuisineBuffet"><input type="radio" name="cuisine_type_name" id="rbCuisineBuffet" onchange="rbCuisineChanged(this)"/>無菜單</label>
            </div>
            <div style="text-align: center; margin: 0px 20px;">
                <div id="tbTop10Cuisines">
                    <textarea class="viewbag" id="top10Main">
                        {{.Top10Main}}
                    </textarea>
                    <textarea class="viewbag" id="top10Dessert">
                        {{.Top10Dessert}}
                    </textarea>
                    <textarea class="viewbag" id="top10Buffet">
                        {{.Top10Buffet}}
                    </textarea>
                </div>
            </div>
            <div class="index-section">
                <h2 class="section-title">瀏覽食記</h2>
            </div>
            <div class="h-center">
                <form style="display: inline;" action="/cuisineList" method="get">
                    <button class="index-btn"><i class="fa-solid fa-list"></i>食記清單</button>
                </form>
                <button class="index-btn"><i class="fa-regular fa-calendar-days"></i>食記月曆</button>
            </div>
            <div class="index-section">
                <h2 class="section-title">新增食記</h2>
            </div>
            <div class="h-center">
                <form method="get" action="/newCuisine">
                    <button class="index-btn"><i class="fa-solid fa-pen-to-square"></i>新增食記</button>
                </form>
            </div>            
        </div>
        <br/>
        {{template "partials/footer" .}}

        <script>
            /// <reference path="../wwwroot/libs/tabulator-tables/tabulator.min.js"/>
            let rbCuisineMain = document.querySelector("#rbCuisineMain");
            let rbCuisineDessert = document.querySelector("#rbCuisineDessert");
            let rbCuisineBuffet = document.querySelector("#rbCuisineBuffet");
            let top10Main = [];
            let top10Dessert = [];
            let top10Buffet = [];
            let tbTop10Cuisines = null;

            window.addEventListener("DOMContentLoaded", function(){
                /** @type {HTMLTextAreaElement} */
                let top10MainViewbag = document.querySelector(".viewbag#top10Main");
                top10Main = JSON.parse(top10MainViewbag.value);
                top10MainViewbag.remove();
                let top10DessertViewbag = document.querySelector(".viewbag#top10Dessert");
                top10Dessert = JSON.parse(top10DessertViewbag.value);
                top10DessertViewbag.remove();
                let top10BuffetViewbag = document.querySelector(".viewbag#top10Buffet");
                top10Buffet = JSON.parse(top10BuffetViewbag.value);
                top10BuffetViewbag.remove();

                tbTop10Cuisines = new Tabulator("#tbTop10Cuisines", {
                    layout:"fitDataTable",
                    height: "350px",
                    columns: [
                        { title: "餐點名稱", field: "cuisine_name" },
                        { title: "單價", field: "unit_price"},
                        { title: "類別", field: "cuisine_type_name"},
                        { title: "套餐", field: "is_one_set"},
                        { 
                            title: "日期", 
                            field: "last_order_date", 
                            formatter: "datetime", 
                            formatterParams: {
                                inputFormat:"iso",
                                outputFormat:"yyyy-MM-dd",
                                invalidPlaceholder:"",
                            },
                        },
                        { title: "評分", field: "review" },
                        { title: "餐廳", field: "restaurant" },
                        { title: "地點", field: "address" },
                        { title: "備註", field: "remark" },
                    ],
                });

                tbTop10Cuisines.on("tableBuilt", function(){
                    tbTop10Cuisines.setData(top10Main);
                });

            });
            
            function rbCuisineChanged(cb){
                if (cb == rbCuisineMain) {
                    tbTop10Cuisines.replaceData(top10Main);
                } else if(cb == rbCuisineDessert) {
                    tbTop10Cuisines.replaceData(top10Dessert);
                } else if(cb == rbCuisineBuffet) {
                    tbTop10Cuisines.replaceData(top10Buffet);
                }
                tbTop10Cuisines.redraw();
            }
        </script>
    </body>
</html>