<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BBLJ食記</title>
        <meta name="description" content="BBLJ食記">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/libs/fontawesome/css/all.min.css" rel="stylesheet">
        <!-- <link href="/libs/tabulator-tables/tabulator.min.css" rel="stylesheet">
        <script src="/libs/tabulator-tables/tabulator.min.js"></script> -->
        <link href="/css/layout.css?v=20231203" rel="stylesheet">
    </head>
    <body>
        {{template "partials/navbar" .}}
        <div class="site-content">
            <div class="welcome-header">
                <h1 class="page-title">新增食記</h1>
                <div class="h-center">
                    <img id="imgCuisineImage" style="width: 250px;height: 250px; object-fit: contain;" src="/assets/food_dummy_250x250.png"/>
                </div>            
                <br/>
                <div class="h-center">
                    <button class="btn-primary" onclick="btnUploadClick()"><i class="fa-solid fa-cloud-arrow-up" style="font-size: larger;"></i>&nbsp;上傳照片</button>
                </div>
            </div>
            <div class="index-section">
                <h2 class="section-title">食記內容</h2>
                <form class="section-body" style="margin-left: 30px;margin-right: 30px;" action="/newCuisine" method="post" enctype="multipart/form-data">
                    
                    <label class="lbl-control" for="txtCuisineName" style="margin-top: 0px;">餐點名稱：</label>                    
                    <input class="txt-control" style="width: 20em;" id="txtCuisineName" name="CuisineName" required/>
                    
                    <label class="lbl-control" for="txtUnitPrice">單價(NTD)：</label>
                    <input type="number" class="txt-control" style="width: 7.5em;" id="txtUnitPrice" name="UnitPrice" required/>
                    
                    <label class="lbl-control" for="selCuisineType">類別：</label>
                    <select class="txt-control" style="width: 10em;"  id="selCuisineType" name="CuisineType">
                        <option value="1" selected>主餐</option>
                        <option value="2">配餐/甜點/飲料</option>
                        <option value="3">無菜單</option>
                    </select>
                    
                    <label class="lbl-control">套餐：</label>                    
                    <div>
                        <label for="rbIsOneSet1"><input type="radio" name="IsOneSet" id="rbIsOneSet1" value="1"/>是</label>
                        <label for="rbIsOneSet0"><input type="radio" name="IsOneSet" id="rbIsOneSet0" value="0" checked/>否</label>
                    </div>                    
                    
                    <label class="lbl-control" for="dateLastOrderDate">日期：</label>                    
                    <input type="date" class="txt-control" id="dateLastOrderDate" name="LastOrderDate" required/>
                    
                    <label class="lbl-control" for="txtReview">評分(0~100)：</label>                    
                    <input type="number" class="txt-control" style="width: 7.5em;" id="txtReview" name="Review" min="0" max="100" step="1" required/>
                    
                    <label class="lbl-control" for="txtRestaurant">餐廰：</label>                    
                    <input class="txt-control" style="width: 20em;" id="txtRestaurant" name="Restaurant" required/>
                    
                    <label class="lbl-control" for="txtAddress">地點：</label>                    
                    <input class="txt-control" style="width: 20em;" id="txtAddress" name="Address" required/>
                    
                    <label class="lbl-control" style="vertical-align: top;" for="txtRemark">備註：</label>                    
                    <textarea class="txt-area-control" id="txtRemark" name="Remark"></textarea>

                    <input type="file" id="fileCuisineImage" name="CuisineImage" style="display: none;" onchange="fileCuisineImageChange(this)"/>

                    <div class="h-center">
                        <br/>
                        <button class="btn-primary">新增</button>
                    </div>
                    
                </form>
            </div> 
        </div>

        {{template "partials/footer" .}}
        
        <script>
            
            window.addEventListener("DOMContentLoaded", function(){
                
            });

            function btnUploadClick(){
                /** @type {HTMLInputElement} */
                let fileCuisineImage = document.getElementById("fileCuisineImage");
                fileCuisineImage.click();
            }

            /** @param {HTMLInputElement} fileCuisineImage*/
            function fileCuisineImageChange(fileCuisineImage){
                const [file] = fileCuisineImage.files
                if (file) {
                    /** @type {HTMLImageElement} */
                    let imgCuisineImage = document.getElementById("imgCuisineImage");
                    imgCuisineImage.src = URL.createObjectURL(file)
                }
            }
        </script>
    </body>
</html>