body{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #202020;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#c4c4c4;
    overflow: auto;
    margin: 0px;
}
.navbar{
    position: relative;
    font-weight: bolder;
    color: #3FB449;
    background-color: #121212;
    padding: 15px;
    border-bottom: 2px solid green;
}
.navbar-logo:link, .navbar-logo:visited, .navbar-logo:hover, .navbar-logo:active {
    color: #3FB449;
    text-decoration: none;
}
.navbar-logo:hover{
    color: #25682a;
}
.navbar-menu-icon{
    color: #c4c4c4;
}
.navbar-menu-icon:hover{
    color: #3FB449;
}
.v-center {
    position: absolute;
    top:50%; 
    -ms-transform: translateY(-50%); 
    transform: translateY(-50%);
}
.navbar-logo {
    font-size: 26px;
    cursor: pointer;
}
.fa-wrapper{
    font-size: 2em;
}
.site-content{
    min-height:calc(100% - 132px);
}
.welcome-header{
    padding-top: 15px;
}
.h-center{
    width: 100%;
    text-align: center;
}
.page-title{
    text-align: center;
    color:white;
}
.welcome-msg {
    text-align: center;
    font-size: 18px;
    margin: 0px 20px;
}
.section-title{
    color:white;
    border-bottom: 3px solid green;
    margin: 20px 20px;
}
.section-body {
    margin: 20px 20px;
}
.radio-cuisine-type-wrapper{
    margin: 0px 20px;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: auto;
}
.lbl-cuisine-type-name{
    margin-right: 10px;
}
#tbTop10Cuisines{
    max-width: 100%;    
    margin: auto;
}
.viewbag{
    display: none;
}
.index-btn {
    width: 7.5em;
    height:4.5em;
    padding: 8px 15px;
    background: #3FB449;
    border: none;
    border-radius: 10px;
    color: #202020;
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
}
.index-btn:hover {
    background: #25682a;
}
.padding-bottom {
    width: 100%;
    height: 63px;
}
.fix-bottom {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #202020;
    z-index: 1;
}
.footer {
    position: relative;
    text-align: center;
    padding: 10px 0px;
    border-top: 2px solid green;
    margin: 0px 20px;
}
.footer-item {
    font-size: 2.5em;
    color: #3FB449;
    text-decoration: none;
    cursor: pointer;
}
.footer-item:hover {
    color: white;
    text-decoration: none;
}
.footer-item:link, .footer-item:visited, .footer-item:hover, .footer-item:active {
    text-decoration: none;
}
.btn-primary {
    background: #3FB449;
    color: #202020;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn-primary:hover:enabled {
    background: #25682a;
}
.btn-primary:disabled {
    opacity: 0.5;
    cursor:unset;
}
.txt-control {
    display: block;
    height: 2em;
}
.lbl-control{
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
}
.txt-area-control{
    display: block;
    width: calc(100% - 10px);
    height: 7.5em;
    resize: none;
}
.error-msg {
    color: red;
}
#tbAllCuisine{
    max-width: 100%;    
    margin: auto;
}

/* Tabulator Custom Styles */
.tabulator {
    border: 0px;
}
.tabulator .tabulator-header .tabulator-col {
    border-bottom: 3px solid #3FB449;
    background-color: #0f0f0f !important;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
}
.tabulator-row{
    color:#ccc;
    background-color: #121212;
    border-bottom:1px solid #999;
}
.tabulator-row.tabulator-row-even {
    background-color: #1e1e1e;
    border-bottom:1px solid #999;
}
.tabulator-row:hover{
    color: white;
    background-color: #3FB449 !important;
}